<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonorData | DonateLife</title>
    <link href="css/table.css" rel="stylesheet">
    <link href="css/err.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="font/all.css">
    <script src="font/all.js"> </script>
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="icon" href="/img/donation.png" type="image/x-icon" />
    <style>
        h2 {
            text-align: center;
            color: #fff;
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <header>
        <a href="#" class="logo"><img src="/img/logo4.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>

        <ul class="navlist">
            <li>
                <form action="/a_logout" method="post" style=" border: 1px solid #ddd; padding: 5px 10px;">

                    <i class="fa-solid fa-right-to-bracket"></i>

                    <button class="dropbtn" id="click"
                        style="color: black;font-weight: 600; padding: 5px;font-size: 1.2rem;">Logout
                    </button>

                </form>
            </li>
        </ul>
    </header>


    <div class="sidenav" style="margin-top: 100px;">
        <a href="/admin_dash">Dashboard</a>
        <a href="/patientdata">Patient</a>
        <a href="/donordata">Donor</a>
        <a href="#contact">Blood Requests</a>
        <a href="#contact">Donation Requests</a>
        <a href="#contact">Blood Stock</a>
    </div>

    <% if(typeof message !="undefined" && message) { %>
        <div class="alert hide">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span class="msg">
                <%= message %>
            </span>
            <div class="close-btn">
                <span class="fas fa-times"></span>
            </div>
        </div>
        <% }%>

            <div class="data">
                <h2>Donor History</h2>
                <form action="">
                    <table>
                        <thead>
                            <!-- Heading Of The Table   -->
                            <tr class="headtr">
                                <th class="width">Id</th>
                                <th class="width2">First Name</th>
                                <th class="width2">Last Name</th>
                                <th class="width3">Email</th>
                                <th class="width3">Mobile</th>
                                <th class="width2">Gender</th>
                                <th class="width2">Age</th>
                                <th class="width2">Weight</th>
                                <th class="width4">Bloodgroup</th>
                                <th class="width2">Disease</th>
                                <th class="width2">Blood Donated</th>
                                <th class="width2">Address</th>
                                <th class="width2">Town</th>
                                <th class="width2">Last Donated</th>
                                <th class="width2">Status</th>
                                <th class="width2 width3">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% dataList.forEach(data=> {%>
                                <tr class="tr">
                                    <td class="width ">
                                        <%= data._id %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.firstname %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.lastname %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.email %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.mob %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.gender %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.age %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.weight %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.bloodgroup %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.disease %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.ml %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.address %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.town %>
                                    </td>
                                    <td class="width2 ">
                                        <%= data.lastdonated %>
                                    </td>
                                    <td class="width2">
                                        <%= data.status ??"pending" %>
                                    </td>
                                    <td class="width2 ">
                                        <% if(data.status=="pending" ){%>
                                            <button type="button" data-id="<%=data._id%>" onclick="handleApprove(this)"
                                                id="approve" class="approve">Approve</button>


                                            <button type="button" data-id="<%=data._id%>" onclick="handleReject(this)"
                                                id="reject" class="reject">Reject</button>
                                            <%}%>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>

                </form>
            </div>
</body>
<script src="js/jquery.js"></script>
<script src="js/index1.js"></script>
<script src="js/sweetalert.min.js"></script>
<script>
    const click = document.getElementById('click');

    click.addEventListener('click', () => {
        swal({
            title: 'Logging Out ',
            text: 'Bye!',
            icon: 'success',
            timer: 2000,
        })
    });
</script>


</html>